$body-font-family: 'Inter', sans-serif !default;

$border-radius-root: 8px !default;

$light-primary: #666CFF;
$light-secondary: #6D788D;
$light-accent: #666CFF;
$light-info: #26C6F9;
$light-success: #72E128;
$light-warning: #FDB528;
$light-error: #FF4D49;
$dark-primary: #666CFF;
$dark-secondary: #6D788D;
$dark-accent: #666CFF;
$dark-info: #26C6F9;
$dark-success: #72E128;
$dark-warning: #FDB528;
$dark-error: #FF4D49;
